*.uasset
*.umap
*.1001
*.1002
*.1003

Content/SBI_Meshes/
Content/SBI_PersistenceManagement/
Content/SBI_Cinematics/
Content/SBI_BlueprintProps/
Content/SBI_HUID/
Content/SBI_Materials/
Content/__ExternalActors__/
Content/__ExternalObjects__/

Content/Meshes/
Content/MF_Utility/
Content/SBI_Assets/
Content/SBI_Mats/
Content/SBI_PEG/
Content/SBI_Niagara/
Content/SBI_Props/
Content/SBI_Seq/
Content/SBI_T2D/
Content/SFX/
Content/Storm_Box_Infinite_sharedassets/
