*.uasset
*.umap
*.png
!T_SB_LogoOutline

SBI_Meshes/
SBI_PersistenceManagement/
SBI_Cinematics/
SBI_BlueprintProps/
SBI_HUID/
SBI_Materials/
__ExternalActors__/
__ExternalObjects__/

Meshes/
MF_Utility/
SBI_Assets/
SBI_Mats/
SBI_PEG/
SBI_Niagara/
SBI_Props/
SBI_Seq/
SBI_T2D/
SFX/
Storm_Box_Infinite_sharedassets/
